<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../static/tailwindStyles.css" rel="stylesheet" />
		<script
			src="../static/components/sideBar.js"
			type="text/javascript"
			defer
		></script>
		<link rel="manifest" href="../static/manifest.json" />
	</head>
	<body class="bg-white flex h-full flex-col">
		<div id="mouse-pos" class="hidden" aria-hidden="true"></div>

		<main class="flex-grow overflow-hidden relative flex flex-col">
			<div id="top bar" class="flex p-3 mt-4 z-30">
				<span class="bg-white" onclick="openNav()"
					><img
						class="h-10 bg-white z-40 absolute rounded-md"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"
				/></span>
			</div>
			<div class="w-full flex justify-center items-center">
				<div
					id="new-question-card"
					data-translatey="-13"
					class="card bg-black w-11/12 aspect-[3/4] p-5 absolute z-20"
				>
					<p
						id="new-question-text"
						class="text-white text-lg font-bold mx-auto"
					></p>
				</div>
			</div>
			<div class="h-full w-full mt-4">
				<div
					id="cards-container"
					class="flex w-full h-full justify-center items-center relative"
				>
					<div
						id="question-card"
						class="card bg-black w-11/12 aspect-[3/4] p-5 absolute"
					>
						<div
							id="question-loading"
							class="h-full w-full absolute bg-slate-50/65 top-0 left-0 z-20 items-center justify-center hidden"
						>
							<p class="text-white text-2xl font-bold mx-auto">LOADING</p>
						</div>
						<p id="question-text" class="text-white text-lg font-bold mx-auto">
							Hello! Should I start dieting?
						</p>
					</div>
					<div
						id="devil-card"
						data-showing="false"
						data-translatex="21.5"
						data-translatey="-0"
						data-rotate="-5"
						class="card bg-devil absolute flex flex-row gap-5 z-30"
					>
						<div id="devil-card-edge" class="h-full">
							<p class="text-white text-2xl font-bold mx-auto card-side">
								DEVIL
							</p>
						</div>
						<p
							id="devil-text"
							class="card-content text-white text-lg font-bold mx-auto"
						>
							Hello! Should I start dieting?
						</p>
					</div>
					<div
						id="angel-card"
						data-showing="false"
						data-translatex="-21.5"
						data-translatey="-0"
						data-rotate="5"
						class="card bg-angel absolute flex flex-row-reverse gap-5 z-30"
					>
						<div id="angel-card-edge" class="h-full">
							<p class="text-white text-2xl font-bold mx-auto card-side">
								ANGEL
							</p>
						</div>
						<p
							id="angel-text"
							class="card-content text-white text-lg font-bold mx-auto"
						>
							Hello! Should I start dieting?
						</p>
					</div>
				</div>
			</div>
			<button
				id="speech-button"
				data-listening="false"
				class="w-16 h-16 p-4 rounded-full mx-auto z-40 border-0 mb-5"
			>
				<img
					class="h-full w-full"
					src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Font_Awesome_5_solid_microphone.svg"
				/>
			</button>
		</main>

		<side-bar></side-bar>

		<script src="../static/queryCmds.js"></script>
		<script src="../static/getCurrentURL.js"></script>

		<script src="../static/handleNavBar.js"></script>
		<script src="../static/handleCardAnimation.js"></script>
		<script src="../static/handleCardSwipe.js"></script>
		<script src="../static/handleNewCard.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
		<script src="../static/fetchUUID.js"></script>
		<script src="../static/fetchQuestions.js"></script>
		<script src="../static/fetchNewQuestion.js"></script>
		<script src="../static/loadNavBar.js"></script>
		<script src="../static/handleSpeech.js"></script>
		<script src="../static/loadSpeechData.js"></script>
		<script src="../static/misc.js"></script>
	</body>
</html>
