<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Speech Test</h1>
        <textarea
            id="response"
            placeholder="response"
            cols="30"
            rows="10"
        ></textarea>
        <p id="status">Stopped</p>
        <button id="startstop" onclick="startClicked()">Start</button>

        <script src="../static/speech.js"></script>
    </body>
</html>
